.line {
  position: absolute;
  top: 22px;
  left: 9%;
  right: 8%;
  width: 82%;
  height: 2px;
  background: #b1b8c4;
  z-index: 0;
}
.step {
  z-index: 5;
}
.navCotainer{
  padding-bottom: 7px;
  border-bottom: 1px solid grey;;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  div {
    cursor: pointer;
    margin: auto;
    text-align: center;

    &.active {
      .theIndex {
        border: 3px solid white;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        z-index: 200;
        background-color:#42bef8;
        color: white;
    }
    }
    .theIndex {
        color: #42bef8;
        background-color:white;
        border: 3px solid #42bef8;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        z-index: 100;
        line-height: 25px;
    }


  }
}
